spring:
  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: "${spring.datasource.url}"
    username: "${spring.datasource.username}"
    password: "${spring.datasource.password}"
  liquibase:
    change-log: db/changelog/db.changelog-master.yaml
logging:
  level:
    org:
      springframework:
        security: DEBUG